.parent{
   display: flex;
   justify-content: center;
    border:1px black solid;
    background-color:goldenrod;
    width:1500px;
    height:1000px;
}
.home{
    border:1px solid black;
    width:100px;
    height:100px;
    margin:20px;
    background-color: greenyellow;
}
  .home1{
    transition: width 2s;
transition-timing-function:linear;
  }
 .home1:hover{
    width:350px;
 }
.home2{
    transition: width 2s, height 3s;
    transition-timing-function:linear;
}
.home2:hover{
    width:200px;
    height:240px;
}
.home3{
    transition: width 2s;
    transition-timing-function:;
}
.home3:hover{
    width:350px;
}
.home4{
    transition: width 2s;
    transition-timing-function:ease;
}
.home4:hover{
    width:350px;
}
.home5{
    transition: width 2s;
    transition-timing-function:ease-in;
}
.home5:hover{
    width:350px;
}
.home6{
    transition: width 2s;
    transition-timing-function:ease-out;
}
.home6:hover{
    width:350px;
}
.home7{
    transition: width 2s;
    transition-timing-function:ease-in-out;
}
.home7:hover{
    width:350px;
}
.flex{
    display:flex;
    justify-content: center;
}
.button1{
    text-align: center;
    font-size: 30px;;
}
.BOX{
    display: flex;
    justify-content:center;
}
.ol{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height:120px;
    margin-top: 50px;
    
}
.box{
    border:1px solid black;
    width:100px;
    height:100px;
    margin:10px;
    
}
.color1{
    background-color: blueviolet;
}
.color2{
    background-color: chartreuse;
}
.color3{
    background-color: darkmagenta;

}
.color4{
    background-color: darkorange;
}
.bold{
    font-size:30px;
} 
.center{
    text-align: center;
    position: relative;
    left: 400px;
}
.color1{
    animation-name: anm1;
    animation-duration:3s;
    animation-iteration-count: infinite;
    
}
@keyframes anm1{


from{transform:skewX(0deg);}
  to{transform:skewX( 45deg);}
}
.color2{
    animation-name: anm2;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
@keyframes anm2{
    from{transform:skewX(0deg);}
      to{transform:skewX( 45deg);}
    }
    .color3{
        animation-name: anm3;
        animation-duration:3s;
        animation-iteration-count: infinite;
    }
    @keyframes anm3{
        from{transform:rotate(0deg)}
          to{transform:rotate(360deg)}
    }
    .scale1{
        animation-name: anm4;
        animation-duration:3s;
        animation-iteration-count: infinite;
    }
    @keyframes anm4{
        from{transform:scaleY(0.5);}
        to{transform:scaleY(1)}
    }
    .scale2{
        animation-name: anm5;
        animation-duration:3s;
        animation-iteration-count: infinite;
    }
    @keyframes anm5{
        from{ transform:scaleX(0.5)}
        to{transform:scaleX(1)}
        
    }
    .scale3{
        animation-name:anm6;
        animation-duration:3s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    @keyframes anm6{
        from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
    }
    .big{
        border:10px solid black;
        position: relative;
       height:700px;
        width: 100%;
        z-index:4;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .sky{
        background-image: url(./sky.jpg);
        height:750px;
        width:100%;
        background-repeat: no-repeat;
        z-index:-3;

    }
    .road{
position: relative;
bottom:570px;
z-index:3;
animation-name: road1;
animation-duration:1s;
animation-iteration-count:infinite;
animation-timing-function:linear;
background-repeat:repeat-x;
    }
    @keyframes road1{
        100%{transform:translateX(-3200px)}
    }
    .uttarpradesh img{
        height:300px;
        position:relative;
        bottom:560px;
        z-index:2;
        animation-name: building;
animation-duration:2s;
animation-iteration-count: infinite;
animation-timing-function:linear;
background-repeat:repeat-x;
    }
    @keyframes building{
        100%{transform:translateX(-150px)}
    }
    .sun img{
        height:100px;
        position:relative;
        bottom:1280px;
        left:1100px;
        animation-name:suraj;
        animation-duration:4s;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
        background-repeat:repeat-x;
    }
    @keyframes suraj{
        100%{
            transform: translateX(-300px);
        }
    }
    .car img{
        height:130px;
        position:relative;
        bottom:960px;
        left:570px;
        z-index:4;
    }
    .wheel1 img{
        height:55px;
        position:relative;
        bottom:1035px;
        left:790px;
        z-index: 4;
      
        animation-name:tayar1;
animation-duration:2s;
animation-iteration-count:infinite;
animation-timing-function:linear;
    }
    @keyframes tayer1{
        100%{transform: rotate(360deg)  }
    }

    .wheel2 img{
        z-index: 4;
        height:55px;
        position:relative;
        bottom:1085px;
        left:600px;
        animation-name:tayar2;
        animation-duration:2s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
            }
            @keyframes tayer2{
                100%
                {transform: rotate(360deg);
                }
            }
            .tiranga img{
                width:70px;
                position: absolute;
                top:510px;
                left:780px;
                z-index:4;
            }
    



    
    